html {
    font-size: 10px;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;

    background-color: #FFF;
}

.container {
    width: 100%;
    max-width: 100rem;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}


/* Header */

.header {
    width: 100%;
    height: 7rem;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100%;
    padding: 0 2.5rem;

    background-color: #FFF;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__logo-image img {
    height: 4rem;
}

.header__logo-title {
    margin-left: 1.5rem;

    font-size: 1.5rem;
    font-weight: 700;
    color: #313745;
}

.header__nav {
    display: flex;

    font-size: 1.5rem;
    font-weight: 700;
}

.header__nav-link {
    margin-left: 2.5rem;

    color: #313745;
    text-decoration: none;
}

.header__nav-link:first-child {
    margin-left: 0;
}


/* Main / Intro */

.intro {
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;

    background: url(../images/banner.png) center 75% no-repeat;
    background-size: cover;
}

.intro__inner {
    width: 100%;
    max-width: 50rem;
    margin: 0 auto;

    color: #fff;
    text-align: center;
}

.intro__logo {
    margin-bottom: 1rem;
}

.intro__logo img{
    height: 17.5rem;
}

.intro__title {
    margin-bottom: .7rem;

    font-size: 4.8rem;
    font-weight: 700;
}

.intro__subtitle {
    margin-bottom: 3rem;

    font-size: 2rem;
    font-weight: 700;
}

.btn {
    display: inline-block;
    padding: 1.2rem 1.2rem;

    border: 1px solid #FFF;
    border-radius: 1rem;
    cursor: pointer;

    font-size: 1.8rem;
    font-weight: 700;
    color: #FFF;
    text-decoration: none;

    background: 0;
}


/* Main / Adventages */

.adventages {
    display: flex;
    flex-wrap: nowrap;
    padding: 2rem 0;
    margin: 0 -3rem;

    color: #000;
}

.adventages__item {
    width: 33.333333%;
    padding: 3rem;
}

.adventages__title {
    margin-bottom: 1.5rem;

    font-size: 2.4rem;
    font-weight: 700;
}

.adventages__text {
    font-size: 1.4rem;
    line-height: 1.5;
    font-weight: 300;
}


/* Main / About */

.about__inner {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 5rem 7.5rem;
}

.about__item {
    width: 45%;
}

.about__title {
    margin-bottom: 1rem;

    font-size: 2.4rem;
    font-weight: 700;
}

.about__text {
    font-size: 1.4rem;
    line-height: 1.5;
    font-weight: 300;
}

.about__image img {
    max-width: 35rem;
}

.bg-color {
    background-color: #F7F7F7;
}

